<ion-content>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <ion-icon class="magic-wand" name="color-wand-outline"></ion-icon>
        <h2>Welcome</h2>
        <p>Thank you for downloading this app ! This is a short tut on how to use it :</p>

        <p class="tut">
          <ion-icon name="folder-outline"></ion-icon> Here you will find your uploaded files where you can copy their short code to download them on your other devices.<br><br>
          <ion-icon name="swap-vertical-outline"></ion-icon> This is where to go in case you want to download / upload your files.<br><br>
          <ion-icon name="person-circle-outline"></ion-icon> All your profil details and progress that your made using this app.<br><br>
        </p>
      
        <div>
          <ion-button fill="clear" (click)="closeTutorial()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
        </div>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>