

<div *ngIf="step == 0" class="step-init content-container">
  <ion-text class="download-code-text">Enter your shared file code to download</ion-text>
  <div><ion-input (keyup.enter)="onCodeEnter()" maxlength="10" placeholder="da3fg4zf75"></ion-input></div>
  <ion-text class="or">or</ion-text>
  <div><ion-button (click)="uploadFile()" color="primary">Upload File</ion-button></div>
</div>

<div *ngIf="step == 1" class="step-in-progress content-container">
  <ion-text class="progress-text">Your files are being uploaded</ion-text>
  <ion-progress-bar type="indeterminate"></ion-progress-bar>
  <ion-text class="progress-sub-text"><ion-icon name="alert-circle-outline"></ion-icon> This may take a little while, so chill back and relax :) !</ion-text>
</div>

<div *ngIf="step == 2" class="step-success content-container">
  <ion-icon class="icon-center-lg success-icon" name="checkmark-done-circle-outline"></ion-icon>
  <ion-text class="text-align-left">Your file have been uploaded !<br>Your code is ( tap to copy ) :</ion-text>
  <div class="copycut-container" (click)="copyToClipBoard(copycut)">
    <input maxlength="10" value="1234" #copycut readonly>
    <span class="copycut-text">Copied !</span>
  </div>
</div>

<div *ngIf="step == 3" class="step-failure content-container">
  <ion-icon class="icon-center-lg failure-icon" name="close-circle-outline"></ion-icon>
  <ion-text class="text-align-left">File upload error ! Please retry</ion-text>
  <div class="button-container"><ion-button (click)="step = 0" color="primary">Retry</ion-button></div>
</div>

<div *ngIf="step == 4" class="step-download-found content-container">
  <ion-icon class="icon-center-lg ready-download-icon" name="cloud-done-outline"></ion-icon>
  <ion-text class="text-center">Your file is ready to download !</ion-text>
  <div class="button-container"><ion-button (click)="downloadFile()" color="primary">Download Now</ion-button></div>
</div>

<div *ngIf="step == 404" class="step-download-not-found content-container">
  <ion-icon class="icon-center-lg not-found-icon" name="help-circle-outline"></ion-icon>
  <ion-text class="text-align-left">File is anvailable ! please retry !</ion-text>
  <div class="button-container"><ion-button (click)="step = 0" color="primary">Retry</ion-button></div>
</div>