
<ion-list class="container">

  <div class="file-container">
    <div class="file-extension-img">
      <ion-icon name="document-outline"></ion-icon>    
    </div>
    <div class="file-content">
      <div class="file-title">
        <ion-text>spread-cheet-220</ion-text>
      </div>

      <div class="file-details">
        <div class="file-size"><ion-icon name="pie-chart-outline"></ion-icon>&nbsp;30mb</div>
        <div class="file-extension"><ion-icon name="document-text-outline"></ion-icon>&nbsp;.csv</div>
        <div class="file-time-remain"><ion-icon name="alarm-outline"></ion-icon><span>&nbsp;10min</span></div>
      </div>

    </div>
  </div>
  <div class="file-container">
    <div class="file-extension-img">
      <ion-icon name="document-outline"></ion-icon>    
    </div>
    <div class="file-content">
      <div class="file-title">
        <ion-text>spread-cheet-220</ion-text>
      </div>

      <div class="file-details">
        <div class="file-size"><ion-icon name="pie-chart-outline"></ion-icon>&nbsp;30mb</div>
        <div class="file-extension"><ion-icon name="document-text-outline"></ion-icon>&nbsp;.csv</div>
        <div class="file-time-remain"><ion-icon name="alarm-outline"></ion-icon><span>&nbsp;10min</span></div>
      </div>

    </div>
  </div>
  <div class="file-container">
    <div class="file-extension-img">
      <ion-icon name="document-outline"></ion-icon>    
    </div>
    <div class="file-content">
      <div class="file-title">
        <ion-text>spread-cheet-220</ion-text>
      </div>

      <div class="file-details">
        <div class="file-size"><ion-icon name="pie-chart-outline"></ion-icon>&nbsp;30mb</div>
        <div class="file-extension"><ion-icon name="document-text-outline"></ion-icon>&nbsp;.csv</div>
        <div class="file-time-remain"><ion-icon name="alarm-outline"></ion-icon><span>&nbsp;10min</span></div>
      </div>

    </div>
  </div>
  <div class="file-container">
    <div class="file-extension-img">
      <ion-icon name="document-outline"></ion-icon>    
    </div>
    <div class="file-content">
      <div class="file-title">
        <ion-text>spread-cheet-220</ion-text>
      </div>

      <div class="file-details">
        <div class="file-size"><ion-icon name="pie-chart-outline"></ion-icon>&nbsp;30mb</div>
        <div class="file-extension"><ion-icon name="document-text-outline"></ion-icon>&nbsp;.csv</div>
        <div class="file-time-remain"><ion-icon name="alarm-outline"></ion-icon><span>&nbsp;10min</span></div>
      </div>

    </div>
  </div>

</ion-list>